<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/biggs-logo.png" alt="Biggs BBQ logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Biggs BBQ</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/menus" class="link">Menus</a></li>
					<li><a href="/specials" class="link">Specials</a></li>
					<li><a href="/catering" class="link">Catering</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
					<li><a href="/order-online" class="link">Order Online</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Hours</h3>
				<ul class="mb3">
					<li>Monday - Saturday: 11:00AM - 10:00PM</li>
					<li>Sunday: 11:00AM - 9:00PM</li>
				</ul>
				<h3 class="f4 b lh-title mb1 primary">Location</h3>
				<ul class="mb3">
					<li>2429 Iowa Street</li>
					<li>Lawrence, KS 66046</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Contact</h3>
				<ul class="mhn2">
					<li>
						Phone: <a href="tel:7858562550">785-856-2550</a>
					</li>
					<li>
						Email: <a href="mail:dholiday@biggsribs.com">dholiday@biggsribs.com</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
